html {
    font-size: 10px;
    height: 100%;
    width: 100%;
}

body{
    display: flex;
}

    /*  Colors */

:root {
    --black: #000000;
    --dark-blue: #001940;
    --dark-blue-75-transparency: rgba(0, 25, 64, 0.75);;
    --light-blue: #ccc7ff;
    --dark-gray: #6C6C6C;
    --light-gray: #CDCDCD;
    --lighter-gray: #E5E5E5;
    --white: #FFFFFF;
    --red: #DB2B39;
}

    /*  Fonts */


@font-face {
    font-family: Urbanist-Black;
    src: url(../font/Urbanist-Black.ttf);
}

@font-face {
    font-family: Urbanist-Bold;
    src: url(../font/Urbanist-Bold.ttf);
}

@font-face {
    font-family: Urbanist-Light;
    src: url(../font/Urbanist-Light.ttf);
}

@font-face {
    font-family: Urbanist-Medium;
    src: url(../font/Urbanist-Medium.ttf);
}

@font-face {
    font-family: Urbanist-Thin;
    src: url(../font/Urbanist-Thin.ttf);
}

/*  Text Styles */

.ts-32-black {
    font-family: "Urbanist-Black";
    font-size: 3.2rem;
}

.ts-20-black {
    font-family: "Urbanist-Black";
    font-size: 2rem;
}

.ts-24-bold {
    font-family: "Urbanist-Bold";
    font-size: 2.4rem;
}

.ts-18-medium {
    font-family: "Urbanist-Medium";
    font-size: 1.8rem;
}

.ts-14-medium {
    font-family: "Urbanist-Medium";
    font-size: 1.4rem;
}

.ts-12-medium {
    font-family: "Urbanist-Medium";
    font-size: 1.2rem;
}

.ts-24-light {
    font-family: "Urbanist-Light";
    font-size: 1.4rem;
}

.ts-18-light {
    font-family: "Urbanist-Light";
    font-size: 1.4rem;
}

.ts-14-light {
    font-family: "Urbanist-Light";
    font-size: 1.4rem;
}

.ts-12-light {
    font-family: "Urbanist-Light";
    font-size: 1.2rem;
}

.ts-14-thin {
    font-family: "Urbanist-Thin";
    font-size: 1.4rem;
}

.ts-black {
    color: var(--black);
}

.ts-dark-blue {
    color: var(--dark-blue);
}

.ts-dark-gray {
    color: var(--dark-gray);
}

.ts-light-gray {
    color: var(--light-gray);
}

.ts-white {
    color: var(--white);
}

.ts-red {
    color: var(--red);
}

    /*  Register */

.landing-page{
    background: linear-gradient(116.61deg, var(--black) -3.65%, var(--dark-blue) 105.87%);
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.login-window{
    background-color: var(--white);
    border-radius: 2rem;
    width: 48rem;
    height: 54rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 2.8rem;
    text-align: center;
}

.login-window form{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: left;
}

.login-window form label{
    margin-bottom: .4rem;
}

.login-window form input{
    margin-bottom: .8rem;
}

.login-window form input{
    height: 4rem;
    border: 1px solid var(--light-gray);
    border-radius: 0.4rem;
}

.login-window form input[type=button],
.login-window form input[type=submit],
.login-window form input[type=reset] {
    margin-top: .8rem;
    background-color: var(--dark-blue);
    border: none;
}

    /* Logged pages */

header{
    margin-bottom: 4rem;
}

.logged{
    display: flex;
    flex-direction: column;
    background-color: var(--lighter-gray);
    padding: 4rem 8rem;

}

.btn-menu{
    display: flex;
    height: 4rem;
    width: fit-content;
    padding: 0 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: var(--dark-blue);
    border: none;
}

.btn-menu:hover{
    background: var(--dark-blue-75-transparency);
}

.offcanvas{
    background: linear-gradient(116.61deg, var(--black) -3.65%, var(--dark-blue) 105.87%);
    padding: 2rem;
}

.offcanvas .btn-close{
    color: var(--white);
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

.user-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-icon img{
    height: 100%;
    width: 100%;
}

.offcanvas-body li {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 4rem 0;
}

.offcanvas-body ul {
    text-decoration: none;
    display: flex;
    height: 4rem;
    padding: .8rem;
    width: 100%;
}

.offcanvas-body li a {
    text-decoration: none;
    color: var(--white);
    width: 100%;

}

.offcanvas-body li ul:hover{
    text-decoration: none;
    background-color: var(--white);
    width: 100%;
    height: 4rem;
    padding: .8rem;
    border-radius: 0.4rem;
}

.offcanvas-body li a:hover {
    color: var(--dark-blue);
}

.user-logout{
    margin-top: 4rem;
}

.user-logout input[type=submit]{
    text-decoration: none;
    background: none;
    display: flex;
    height: 4rem;
    padding: .8rem;
    width: 100%;
    text-align: left;
    color: var(--white);
    width: 100%;
    border: none;
}

.user-logout input[type=submit]:hover{
    text-decoration: none;
    background-color: var(--white);
    width: 100%;
    height: 4rem;
    padding: .8rem;
    border-radius: 0.4rem;
    color: var(--dark-blue);
}

    /* Provider list page */


.provider-list{
    display: flex;
    flex-direction: column;
    background-color: var(--lighter-gray);
}

.provider-list .section-header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid var(--light-gray);
    margin-bottom: 3rem;
}

.btn-new-provider,
.btn-phone,
.btn-search-cep{
    display: flex;
    height: 4rem;
    width: fit-content;
    padding: 0 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: var(--dark-blue);
    border: none;
}

.btn-new-provider a{
    text-decoration: none;
    color: var(--white);
}

.btn-new-provider:hover{
    background: var(--dark-blue-75-transparency);
}


    /* Provider list */

.provider-table{
    border-collapse: separate;
    border-spacing: 0 1.4rem;
    margin-top: -1.4rem; /* correct offset on first border spacing if desired */
    text-align: center;
}
.provider-table td {
    border: none;
    padding: 1.4rem;
    background-color: var(--white);
    height: 8rem;
}
.provider-table td:first-child {
    border-left-style: none;
    border-top-left-radius: 1.4rem;
    border-bottom-left-radius: 1.4rem;
}
.provider-table td:last-child {
    border-right-style: none;
    border-bottom-right-radius: 1.4rem;
    border-top-right-radius: 1.4rem;
}




/* Provider Register page */


.provider-register{
    display: flex;
    flex-direction: column;
    background-color: var(--lighter-gray);
    align-items: center;
}

.provider-register .section-header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

.btn-save-provider{
    display: flex;
    height: 4rem;
    width: 320px;
    padding: 0 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: var(--dark-blue);
    border: none;
}

.btn-save-provider:hover{
    background: var(--dark-blue-75-transparency);
}

.provider-register form{
    display: grid;
    width: 80%;
}

.provider-register form .row{
    margin-bottom: 2rem;
}

.provider-register .field{
    display: flex;
    flex-direction: column;
}

.provider-register form label{
    margin-bottom: .4rem;
}

.provider-register form input{
    margin-bottom: .8rem;
}

.provider-register form input{
    height: 4rem;
}

.provider-register form input,
.provider-register form textarea{
    border: 1px solid var(--light-gray);
    border-radius: 0.4rem;
}

.provider-register form input[type=button],
.provider-register form input[type=submit],
.provider-register form input[type=reset] {
    margin-top: .8rem;
    background-color: var(--dark-blue);
    border: none;
}

.provider-register form h2{
    margin-top: 2rem;
}

.provider-register form hr{
    margin-bottom: 2rem;
}

.provider-type{
    display: flex;
    align-items: center;
}

.provider-type input{
    margin-right: 1.4rem;
}

.provider-type label{
    margin-right: 6rem;
}

.phone-input{
    width: 90%;
}

.cep-row{
    display: flex;
}

.cep-row button{
    margin-left: 4rem;
}

.row-button-form{
    display: flex;
    justify-content: center;
}

#cnpjField,
#cpfField{
    display: none;
}

#phoneListSection{
    margin-bottom: 3rem;
}





