<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>Cadastro</title>
</head>
<body class="landing-page">
    <div class="login-window">
        <h1 class="ts-32-black ts-black">DESAFIO 3</h1>

        <div>
            <h2 class="ts-24-bold ts-black">Login</h2>
            <p class="ts-18-light ts-black">Preecha os campos abaixo para acessar sua conta</p>
        </div>
        <p th:if="${loginError}" class="ts-red ts-20-black">Wrong user or password</p>
        <form th:action="@{/}" method="post">
            <label class="ts-18-medium ts-dark-gray" for="email">E-mail</label>
            <input class="ts-14-medium" type="email" name="email" id="email" placeholder="E-mail">
            <label class="ts-18-medium ts-dark-gray" for="password">Senha</label>
            <input class="ts-14-medium" type="password" name="password" id="password" placeholder="Senha">
            <input  class="ts-24-bold ts-white" type="submit" value="Acessar">
        </form>
        <p class="ts-14-light ts-black">Não possui conta? <a href="/cadastro" class="ts-14-medium ts-dark-blue">Crie uma aqui</a></p>

    </div>
</body>
</html>