<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>Cadastro</title>
</head>
<body class="landing-page">
    <div class="login-window">
        <h1 class="ts-32-black ts-black">Desafio 3</h1>

        <div>
            <h2 class="ts-24-bold ts-black">Cadastro</h2>
            <p class="ts-18-light ts-black">Preecha os campos abaixo para criar uma conta</p>
        </div>
        <form th:action="@{/adduser}" th:object="${userDTO}" method="post" onsubmit ="return confirmPassword()">
            <label class="ts-18-medium ts-dark-gray" for="name">Nome</label>
            <input class="ts-14-medium" type="text" th:field="*{name}" id="name" placeholder="Nome" required>
            <label class="ts-18-medium ts-dark-gray" for="email">E-mail</label>
            <input class="ts-14-medium" type="email" th:field="*{email}" id="email" placeholder="E-mail" required>
            <label class="ts-18-medium ts-dark-gray" for="password">Senha</label>
            <input class="ts-14-medium" type="password" th:field="*{password}" id="password" placeholder="Senha" required>
            <span id="errorMessages"></span>
            <input  class="ts-24-bold ts-white" type="submit" value="Cadastrar">
        </form>
        <p class="ts-14-light ts-black">Já possui conta? <a href="/" class="ts-14-medium ts-dark-blue">Faça seu login aqui</a></p>


    </div>
</body>
</html>